<% if @user %>
	<h1><%= @user.first_name%>'s Stocks Page</h1>
	<div class="card card-header results-block">
		<strong>E-mail: </strong> <%= @user.email %>
		<strong>First Name: </strong> <%= @user.first_name %>
		<strong>Last Name:</strong> <%= @user.last_name %>
	</div>

	<% if !@user.stocks.blank? %>
	<div class="row">
		<div class="col-9">
			<table class="table table-bordered ">
				   <thead>
				    <tr>
				      <th scope="col">Ticker</th>
				      <th scope="col">Name</th>
				      <th scope="col">Price</th>
				    </tr>
				  </thead>
			  <tbody>
			    <% @tracked_stocks.each do |stock| %>
			    	<tr>
				      <th scope="row"><%= stock.ticker%></th>
				      <td><%= stock.name %></td>
				      <td><%= stock.last_price%></td>
			    	</tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
<% end %>
<% end %>